body {
  background-image: linear-gradient(to left, white, white),
    url("../images/backgroundImg.png");
  background-repeat: no-repeat;
  font-family: sans-serif;
  z-index: 0;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: white;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: sticky;
  padding: 15px;
}

#homeLogo {
  display: flex;
  align-items: center;
  gap: 5px;
}

#logoImg {
  max-width: 45px;
}

#homeLogo h1 {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  align-items: center;
  letter-spacing: 1.5px;
  color: rgb(73, 73, 73);
}

header ul li:hover {
  color: rgb(117, 117, 117);
  text-decoration: underline;
  cursor: pointer;
}

/* button start*/
.btn {
  background-color: #2689cd;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
}

.btn:hover {
  background-color: rgb(73, 73, 73);
  cursor: pointer;
}
/* button stop */

#welcomeDiv {
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-align: end;
  padding: 20px;
}

#welcomeInfoDiv * {
  margin-bottom: 10px;
}

#welcome {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
}

#welcome span {
  color: rgb(212, 95, 37);
}

#role {
  font-size: 24px;
}

#location {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  width: 100%;
  justify-content: flex-end;
}

#location svg {
}

#city {
}

#celesteImg {
  max-height: 600px;
}
