* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  width: 100%;
}

#background {
  position: absolute;
  top: 0;
  background-image: linear-gradient(to left, white, transparent),
    url("../images/backgroundImg.png");
  /* background-size: 100% 100vh; */
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  opacity: 0.5;
}

#homeLogo {
  display: flex;
  align-items: center;
  gap: 5px;
}

#logoImg {
  max-width: 45px;
}

#homeLogo h1 {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  align-items: center;
  letter-spacing: 1.5px;
  color: rgb(73, 73, 73);
}

header ul li:hover {
  color: rgb(117, 117, 117);
  text-decoration: underline;
  cursor: pointer;
}

#closeNavSvg {
  display: none;
}

#dropdown {
  position: absolute;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 3px;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 100%;
  margin-top: 60px;
  left: 0px;
}

#dropdown a {
  border-bottom: 1px solid rgb(197, 197, 197);
  width: 100%;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: black;
  text-decoration: underline;
  text-decoration-color: #f05757;
  text-underline-offset: 8px;
  text-align: center;
  border-radius: 0;
  background-color: white;
}

/* button start*/
.btn {
  background-color: #2689cd;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  height: fit-content;
}

.btn:hover {
  background-color: rgb(73, 73, 73);
  cursor: pointer;
}
/* button stop */

#welcomeDiv {
  display: flex;
  flex-flow: column nowrap;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-align: center;
  padding: 40px;
  margin-bottom: 30px;
}

#welcomeInfoDiv * {
  margin-bottom: 10px;
}

#welcome {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
}

#welcome span {
  color: #f05757;
}

#role {
  color: rgb(91, 91, 91);
  font-size: 24px;
}

#location {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  width: 100%;
  justify-content: center;
  font-size: 22px;
}

#location svg {
  color: rgb(171, 171, 171);
}

#city {
  color: rgb(171, 171, 171);
}

#welcomeImg {
  margin-bottom: -21px;
}

#celesteImg {
  max-height: 600px;
  background-color: transparent;
}

#aboutDiv {
  background-color: #2689cd;
  width: 100%;
  padding: 30px;
  color: white;
}

#aboutTitle {
  font-size: 35px;
  font-weight: 600;
  color: white;
  text-decoration: underline;
  text-decoration-color: #f05757;
  margin-bottom: 40px;
}

#aboutBody {
  line-height: 25px;
  font-size: 18px;
  letter-spacing: 0.3px;
}

#skillsDiv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding: 30px;
  background-color: transparent;
  text-align: center;
  width: 100%;
}

#skillsTitle {
  align-self: flex-start;
  text-align: left;
}

#skillsDiv div {
  margin: 15px;
}

#skills div img {
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: 5px;
}

.title,
.projectTitle {
  font-size: 35px;
  font-weight: 600;
  color: black;
  text-decoration: underline;
  text-decoration-color: #f05757;
  margin-bottom: 40px;
}

.sectionTitle {
  font-size: 18px;
  font-weight: 600;
  color: rgb(103, 102, 102);
  text-decoration: underline;
  text-decoration-color: #f05757;
  text-decoration-thickness: 3px;
  margin-bottom: 20px;
}

#projectsDiv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.projectDetails {
  max-width: 50%;
}

#projectsTitle {
  align-self: flex-start;
}

.indProject {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  text-align: right;
  gap: 20px;
}

.projectTitle {
  text-decoration: none;
  color: rgb(47, 44, 44);
  margin-bottom: 10px;
}

.projectTech {
  font-size: 20px;
  color: rgb(103, 102, 102);
}

.projectDescription {
  font-size: 18px;
  color: rgb(171, 171, 171);
  max-width: 450px;
}

#mooreBooksImg {
  min-width: 280px;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#contactDiv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 30px;
  max-width: 100%;
}

/* email form styling */

.contactForm {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
  width: 100%;
  margin-top: -40px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-family: sans-serif;
  border: 1px solid #ccd6f6;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: #ccd6f6;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

input[type="submit"] {
  background-color: #2689cd;
  padding: 100px;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: rgb(73, 73, 73);
}

/* end of email form styling */

footer {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  color: rgb(103, 102, 102);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px 8px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

footer a {
  color: rgb(148, 148, 148);
}

footer a:hover {
  color: rgb(82, 81, 81);
}

@media screen and (min-width: 320px) {
  #desktopNav {
    display: none;
  }

  #mobileNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: white;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: sticky;
    top: 0;
    padding: 15px;
  }

  #celesteImg {
    display: none;
  }

  #frontEnd img,
  #backEnd img,
  #environment img,
  #versionControl img {
    width: 30%;
  }
}

@media screen and (min-width: 480px) {
  /* #celesteImg {
    max-height: 300px;
    background-color: transparent;
  } */

  #welcome {
    font-size: 50px;
  }

  #aboutBody {
    font-size: 16px;
  }
}

@media screen and (min-width: 719px) {
  #mobileNav {
    display: none;
  }

  #desktopNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: white;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: sticky;
    top: 0;
    padding: 15px;
  }

  #welcomeDiv {
    flex-flow: row wrap;
    text-align: end;
    padding: 20px;
    margin-bottom: 0;
  }

  #welcome {
    font-size: 60px;
  }

  #location {
    justify-content: flex-end;
  }

  #celesteImg {
    display: block;
  }

  #aboutDiv,
  #contactDiv {
    padding: 100px;
  }

  .contactForm {
    margin-top: 0px;
  }

  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
